@CHARSET "UTF-8";
.menu_body{
	width:100%;
	auto:0 auto;

}

.menu_part{
	width:90%;
 	height: 40px; 
 	margin:0 auto;
    background: #008B8B;
	background: linear-gradient(to top, #008B8B 0%,#058B8B 100%);
	border-radius: 5px;
/* 	border: solid 1px blue;   */
}


.menu{

	width:800px;  /* 给定宽度ul才可以居中 */
	height:100%;
	margin:0px auto;
    background: #008B8B;
	background: linear-gradient(to top, #008B8B 0%,#058B8B 100%);
	border-radius: 5px;
/*  	border: solid 1px red;   */
}

.menu li {
	list-style: none;  /* 去掉li 的小圆点 */
	position:relative;
	height: 40px;
	float:left;  /* li 元素变成水平 */
	dislplay:block;

}


.menu li a {
	background: #008B8B; 
	color:white;

    display: block;
    padding: 0 10px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
	background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

	transition: color .2s ease-in-out;

}
.menu li:hover > a { color: #8fde62; }/* 鼠标悬浮在上面时的样式 */


.menu ul {
    position: absolute;
    top:40px; /*子菜单的高度和父目录对齐  */
	left: 0;
    opacity:0;
     background: #008B8B;
    border-radius:5px;

    transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1;}

.menu ul li {
    height: 0;
    overflow: hidden;
    padding-left: 40px;
    transition: height .25s ease .1s;

}
 
.menu li:hover >ul li {
    height: 30px;
	width:120px;
    overflow: visible;
    padding:0px;

}

 .menu li ul{
	padding-left: 0px;

}

.menu li ul li a{
/*  	    padding-left:40px;  */
		text-align:center;
	    border:none;
}  
 .menu li ul li:hover > a{
	    background: #40E0D0;
		color:white;
}